{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="card mb-3">
    <img src="{% static 'images/hero2.png' %}" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title">OLD APOSTOLIC CHURCH</h5>
      <p class="card-text">Njengamathulusi kaNkulunkulu okulunga, ngokholo lwethu olungazamazami kuJesu Kristu nasebudlelwaneni bukamoya ongcwele, lezozinto zokwenyama sizishaya indiva ngobukhulu bokumazi uJesu Kristu inkhosi nomsindisi wethu.</p>
      <p class="card-text"><small class="text-muted">2 Basekorinte 4 vs 1-20, Filiphu 3 vs 1 - 20</small></p>
    </div>
  </div>
  </div>
{% endblock content %}
